<div>
    <h2 data-translate="sandboxApp.movie_wishlist.home.title">Movie Wishlists</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="movie-wishlist.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="sandboxApp.movie_wishlist.home.createLabel">
                        Create new Movie Wishlist
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="sandboxApp.movie_wishlist.name">Name</span></th>
                    <th><span data-translate="sandboxApp.movie_wishlist.movie">Movie</span></th>
                    <th><span data-translate="sandboxApp.movie_wishlist.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="movie_wishlist in vm.movie_wishlists track by movie_wishlist.id">
                    <td><a ui-sref="movie-wishlist-detail({id:movie_wishlist.id})">{{movie_wishlist.id}}</a></td>
                    <td>{{movie_wishlist.name}}</td>
                    <td>
                        <span ng-repeat="movie in movie_wishlist.movies">
                            <a class="form-control-static" ui-sref="movie-detail({id: movie.id})">{{movie.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        {{movie_wishlist.user.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="movie-wishlist-detail({id:movie_wishlist.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="movie-wishlist.edit({id:movie_wishlist.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="movie-wishlist.delete({id:movie_wishlist.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
