<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="icon" href="../../favicon.ico"></link>

    <title>Home Page</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="icon" href="../../favicon.ico"></link>
    <link href="../../content/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="../../content/css/homepage.css" rel="stylesheet"></link>
</head>

<body>

<div class="container">

    <div class="masthead">
        <h3 class="text-muted">Feelin' Movie</h3>

        <nav class="navbar navbar-light bg-faded rounded mb-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-toggleable-md" id="navbarCollapse">
                <ul class="nav navbar-nav text-md-center justify-content-md-between">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/movies}" href="#">Home <span
                            class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My List</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" th:href="@{'/movies/seenit'}" href="#">Seen it</a>
                            <a class="dropdown-item" th:href="@{'/movies/wanasee'}" href="#">Wana See</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movies</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" th:href="@{'/movies/popular'}" href="#">Popular</a>
                            <a class="dropdown-item" th:href="@{'/movies/toprated'}" href="#">Top Rated</a>
                            <a class="dropdown-item" th:href="@{'/movies/upcoming'}" href="#">Upcoming</a>
                            <a class="dropdown-item" th:href="@{'/movies/nowplaying'}" href="#">Now Playing</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movies</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item"
                               th:each="genre : ${T(com.example.domain.enumeration.Genre).values()}" th:value="${genre}"
                               th:text="${genre.name}" th:href="@{'/movies/genre/' + ${genre.id}}">Action</a>
                        </div>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#signinModal">Sign In</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="/admin.html">Admin Page</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">Sign Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Marketing stuff!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
    </div>

    <!-- Example row of columns -->
    <div>
        <h3>Top Rated Movies</h3>
    </div>
    <div class="row">
        <div class="col-lg-3" th:each="movie: ${topmovies}">
            <img class="poster" th:src="${movie.poster_url}"/>
            <h6 th:text="${movie.title}"></h6>
        </div>
    </div>

    <div>
        <h3>Upcoming Movies</h3>
    </div>
    <div class="row">
        <div class="col-lg-3" th:each="movie: ${upmovies}">
            <img class="poster" th:src="${movie.poster_url}"/>
            <h6 th:text="${movie.title}"></h6>
        </div>
    </div>

    <!-- Site footer -->
    <footer class="footer">
        <p>&copy; Company 2017</p>
    </footer>


    <div class="modal" id="signinModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4>Sign In<i class="fa fa-lock"></i></h4>
                </div>
                <div class="modal-body">
                    <p><i class="fa fa-question-circle"></i> Sign in to add movies to your list!<br /></p>
                    <div class="actionsBtns">
                        <form class="form-signin"  th:action="@{/login}" method="post">
                            <label for="inputText" class="sr-only">Username</label>
                            <input type="text" id="inputText" class="form-control" name="username" placeholder="Username" required="required" autofocus="autofocus"></input>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required="required"></input>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me</input>
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                            <div>
                                With Facebook: <a href="/login/facebook">click here</a>
                            </div>
                            <div>
                                With Github: <a href="/login/github">click here</a>
                            </div>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <button class="btn btn-default" data-dismiss="modal" >Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4>Log Out <i class="fa fa-lock"></i></h4>
                </div>
                <div class="modal-body">
                    <p><i class="fa fa-question-circle"></i> Are you sure you want to log-off? <br /></p>
                    <div class="actionsBtns">
                        <form th:action="@{/logout}" method="post">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <input type="submit"  class="btn btn-default btn-primary"  value="Sign Out" />
                            <button class="btn btn-default" data-dismiss="modal" >Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="app/bootstrap.min.js"></script>
<script src="app/dropdown.js"></script>
<script src="app/movies.js"></script>

</body>
</html>
