<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="icon" href="../../favicon.ico"></link>
    <link href="content/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"></link>
    <link href="content/css/login.css" rel="stylesheet"></link>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
</head>

<body>

<div class="container">

    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

        <div>
            With Facebook: <a href="/login/facebook">click here</a>
        </div>
        <div>
            With Github: <a href="/login/github">click here</a>
        </div>

        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="User Name" required="true" autofocus="autofocus"></input>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="true"></input>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me">Remember me</input>
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->


</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<title>Login</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:if="${param.error}">-->
    <!--Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
    <!--You have been logged out.-->
<!--</div>-->
<!--<div>-->
    <!--With Facebook: <a href="/login/facebook">click here</a>-->
<!--</div>-->
<!--<div>-->
    <!--With Github: <a href="/login/github">click here</a>-->
<!--</div>-->
<!--<form th:action="@{/login}" method="post">-->
    <!--<div><label> User Name : <input type="text" name="username"/> </label></div>-->
    <!--<div><label> Password: <input type="password" name="password"/> </label></div>-->
    <!--<div><input type="submit" value="Sign In"/></div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
